[user]
    email = <email>
    name = <name>
[core]
    editor = vim
    autocrlf = input
    excludesfile = ~/.gitignore
[merge]
    tool = vimdiff
[color]
    ui = auto
[color "diff"]
    meta = blue black bold
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    unstage = reset HEAD --
    last = log -1 HEAD
